<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ion-tree-list</title>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ion-tree-list/ion-tree-list.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="lib/ionic/css/ionic.min.css"/>
  </head>
  <body ng-app="starter" ng-controller="DashCtrl">
    <ion-header-bar class="bar-positive">
      <button class="button" ng-click="collapse=!collapse">Collapse</button>
      <h1 class="title">ion-tree-list</h1>
      <a class="button" ng-click="toggleTemplate()" target="_blank">
        Custom template
      </a>
      <a class="button" href="https://github.com/fer/ion-tree-list" target="_blank">
        <i class="icon ion-social-octocat"></i>
      </a>
    </ion-header-bar>
    <ion-content>
      <ion-tree-list items="tasks" collapsed="collapse" template-url="{{customTemplate}}"></ion-tree-list>
    </<ion-content>>
  
  </body>
</html>
