<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ion-tree-list example</title>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ion-tree-list/ion-tree-list.js"></script>
    <script src="lib/ionic-toast/dist/ionic-toast.bundle.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="lib/ionic/css/ionic.min.css"/>
  </head>
  <body ng-app="starter" ng-controller="DashCtrl">
    <ion-header-bar class="bar-positive">
      <h1 class="title">{{tasks.length}} chapters / {{totalNodes}} nodes</h1>
      <a class="button" href="https://github.com/fer/ion-tree-list" target="_blank">
        <i class="icon ion-social-octocat"></i>
      </a>
    </ion-header-bar>
    <ion-content>
      <ion-tree-list items="tasks" collapsed="collapse" collapsed-level="2" template-url="{{customTemplate}}"></ion-tree-list>
    </ion-content>
    <ion-footer-bar align-title="left">
      <div class="tabs">
        <a class="tab-item" ng-click="collapse=!collapse">Collapse</a>
        <a class="tab-item" ng-click="toggleTemplate()">Toggle Template</a>
        <a class="tab-item" ng-click="generateSampleNodes(10)">Add 10 chapters</a>
        <a class="tab-item" ng-click="tasks = []" ng-show="tasks.length > 5">Reset</a>
      </div>
    </ion-footer-bar>
  </body>
</html>
